@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

/* MEDIA QUERY FOR LAPTOP */
/*         1024px         */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  /* Display */
  /* height: 100vh;
  width: 100vw; */

  /* Font */
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  line-height: 1em;

  /* Color */
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, #f0f0f0, #dce6ed);
  color: #073b4c;
  overflow-y: auto;
}

/* CONTENT GRID */
/* CONTENT GRID */
.content {
  position: relative;
  margin-left: 3.2vw;
  margin-bottom: 3.2vw;
  padding: 0px 3.2vw;
}

.title {
  /* Display */
  display: flex;
  align-items: center;
  height: 8vh;

  /* Font */
  font-weight: 700;
  font-size: 2em;
  white-space: normal;
}

.grid-container {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
}

.tatalahantepatguna {
  grid-template:
    "map map map map carousel" 10.5vw
    "map map map map carousel" 10.5vw
    "map map map map  ." 9vw
    ". . . . keterangan" 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

.pengelolaanair {
  grid-template:
    "chart chart chart chart carousel  " 10.5vw
    "chart chart chart chart carousel  " 10.5vw
    ".     .   button button keterangan" 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

.konservasienergi {
  grid-template:
    "chart chart chart chart carousel " 10.5vw
    "chart chart chart chart carousel " 10.5vw
    ".     .  button button keterangan" 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

.kesehatandankenyamanan {
  grid-template:
    "lantai1 lantai1 lantai1 lantai1 carousel" 10.5vw
    "lantai1 lantai1 lantai1 lantai1 carousel" 10.5vw
    "lantai2 lantai2 lantai2 lantai2 .       " 10.5vw
    "lantai2 lantai2 lantai2 lantai2 keterangan" 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

.pengelolaanlimbahdanmaterial {
  grid-template:
    ".   .   .   .   carousel  " 10.5vw
    ".   .   .   .   carousel  " 10.5vw
    ".   .   .   .   keterangan" 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

.pengelolaanbangunantingkatlanjut {
  grid-template:
    "carousel carousel carousel . carousel2" 10.5vw
    "carousel carousel carousel . carousel2" 10.5vw
    ".        .        .        . .        " 10.5vw / 10.5vw 10.5vw 10.5vw 10.5vw 36vw;
}

/* CONTAINER */
.neo {
  /* Display */
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  border-radius: 20px;
  padding: 10%; /* syntax: top right bottom left */
  height: 100%;
  width: 100%;

  /* Color */
  box-shadow: 3px 3px 7px rgba(92, 99, 105, 0.2), -3px -3px 3px white;
}

.neoInset {
  /* Display */
  border-radius: 20px;
  padding: 1.2% 2%;
  height: 92%;
  width: 30%;
  line-height: 2.3em;

  /* font */
  overflow: hidden;

  /* Color */
  box-shadow: 3px 3px 7px rgba(92, 99, 105, 0.2) inset,
    -3px -3px 3px white inset;
}

.neoSmall {
  display: inline-block;
  margin-right: 5%;
  border-radius: 7px;
  height: 60%;
  width: 23%;
  box-shadow: 2px 2px 4px rgba(92, 99, 105, 0.2), -3px -3px 5px white;
}

.info {
  position: absolute;
  top: 6%;
  right: 6%;
  width: 15%;
  height: 15%;
}

.popover-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.popover-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

/* SIDEBAR */
/* SIDEBAR */
.sidebar {
  /* Display */
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 3.2vw;
  /* item stay on top */
  z-index: 1;

  /* coloring */
  background-color: #ffffff;
  box-shadow: 5px 0px 15px rgba(92, 99, 105, 0.15);

  /* text selection */
  user-select: none;

  /* Transition */
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.sidebar .menu {
  /* Display */
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 5%;
  box-sizing: border-box;

  /* animation */
  transition: background 0.2s ease-in-out;
}

.sidebar .menu.active {
  background: #1ef9a5;
}

.logo {
  display: inline-block;
  height: 3.2vw;
}

.sidebar .menu span {
  font-size: 0.8em;
  font-weight: 600;
  width: 13.2vw;
}

/* Sidebar Transition */
.sidebar:hover {
  width: 16.2vw;
}

.sidebar .menu:hover {
  background: #1ef9a5;
  color: #fff;
}

/* CIRCULAR */
/* CIRCULAR */
.circular {
  height: 100%;
  width: 100%;
}

.circularCaption {
  /* Display */
  height: 9%;
  width: 86%;
  position: absolute;
  bottom: 10%;

  /* Font */
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 1em;
  white-space: normal;
}

/* NUMBER */
/* NUMBER */
.numberCaption {
  /* Display */
  position: absolute;
  top: 22%;
  width: 75%;

  /* Font */
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 1em;
  white-space: normal;
}

.numberValue {
  /* Display */
  position: absolute;
  bottom: 10%;
  height: 30%;
  width: 80%;

  /* Font */
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  line-height: 1em;
  white-space: normal;
}

.numberValue .numberValueUnit {
  font-size: 0.2em;
  font-weight: 600;
  line-height: 1em;
  white-space: normal;
}

/* CAROUSEL */
/* CAROUSEL */
.neoCarousel {
  /* Display */
  align-self: start;
  border-radius: 20px;
  height: 90%;
  width: 100%;
  z-index: 0;

  /* Color */
  box-shadow: 3px 3px 7px rgba(92, 99, 105, 0.2), -3px -3px 3px white;
}

.carousel-inner {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.carousel-caption {
  text-shadow: 3px 2px 4px #232323;
}

.carousel-title {
  font-size: 2em;
}

/* MAP */
/* MAP */
.mapTitle {
  /* Font */
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  line-height: 1em;
  white-space: normal;
}

/* KETERANGAN */
/* KETERANGAN */
.keterangan {
  height: 100%;
  width: 50%;
  justify-self: end;
  grid-area: keterangan;
}

/* CHART */
.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
  height: 100%;
  width: 100%;
}

/* Denah */
.denah {
  width: 100%;
}

.pin {
  position: absolute;
  width: 4vh;
  height: 4vh;
  border-radius: 3vh;
}

.modal-body {
  padding: 5%;
  display: grid;
  grid-template: 22vh 22vh 22vh/22vh 22vh 22vh;
  gap: 2vh;
  justify-content: space-around;
}

/* ************************ */
/* MEDIA QUERY FOR LAPTOP L */
/*          1440px          */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 1rem;
    line-height: 1rem;
  }

  /* CONTENT GRID */
  /* CONTENT GRID */
  .title {
    font-size: 1.8em;
    height: 10vh;
  }

  .grid-container {
    gap: 9vh 3vw;
  }

  /* CONTAINER */
  .neo {
    border-radius: 40px;
    box-shadow: 5px 5px 15px rgba(92, 99, 105, 0.2), -7px -7px 10px white;
  }

  .neoInset {
    /* Display */
    border-radius: 40px;

    /* Color */
    box-shadow: 5px 5px 15px rgba(92, 99, 105, 0.2) inset,
      -7px -7px 10px white inset;
  }

  .neoSmall {
    border-radius: 10px;
    height: 70%;
    width: 12.5%;
    box-shadow: 7px 7px 10px rgba(92, 99, 105, 0.2), -5px -6px 10px white;
  }

  .popover-title {
    font-size: 1.2em;
  }

  .popover-content {
    font-size: 1em;
  }

  /* SIDEBAR */
  /* SIDEBAR */
  .sidebar {
    /* Display */
    grid-template-rows: repeat(14, 1fr);
  }

  .sidebar .menu span {
    font-size: 1em;
    width: 13vw;
  }

  /* CIRCULAR */
  /* CIRCULAR */
  .circularCaption {
    font-size: 1.1em;
  }

  /* NUMBER */
  /* NUMBER */
  .numberValue {
    font-size: 4em;
  }

  .numberCaption {
    font-size: 1.1em;
  }

  /* CAROUSEL */
  /* CAROUSEL */
  .neoCarousel {
    border-radius: 40px;
    box-shadow: 5px 5px 15px rgba(92, 99, 105, 0.2), -7px -7px 10px white;
  }

  .carousel-img {
    border-radius: 40px;
  }

  .legend {
    font-size: 1em;
    line-height: 2em;
  }

  /* CHART */
  .chartjs-size-monitor,
  .chartjs-size-monitor-expand,
  .chartjs-size-monitor-shrink {
    height: 100%;
    width: 100%;
  }
}
