* {
  font-family: Arial, monospace;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #ecf0f3;
  color: #232323;
}

.neo {
  background-color: #ecf0f3;
  margin: 50px auto;
  border-radius: 40px;
  padding: 20px; /* order: top right bottom left */
  width: 50%;
  font-family: Arial, monospace;
  box-shadow: 5px 10px 20px rgba(92, 99, 105, 0.15), -10px -15px 15px white;
}

.sidebar {
  /* position and size */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  z-index: 1;

  /* coloring */
  background-color: #ecf0f3;
  box-shadow: 5px 0px 20px rgba(92, 99, 105, 0.15);
}

.sidebar ul li {
  /* position and size */
  height: 65px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 65px;

  /* color */
  background-color: #ecf0f3;

  /* animation */ /* gonna move it to eventhandler*/
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.sidebar ul li:hover {
  background: aquamarine;
}
